## Pandas - Missing Data

In [2]:
import numpy as np
import pandas as pd

d = {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [3]:
#Dropping Rows With Nan
df.dropna()

     A    B  C
0  1.0  5.0  1

In [4]:
#Dropping Columns With Nan
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [5]:
#Dropping Rows With Thresh
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [6]:
#Fill Missing Values
df.fillna(value='Fill Value')

            A           B  C
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

In [10]:
df['A'].fillna(value = df['A'].mean(), inplace = True)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3