## Pandas DataFrame - 1

In [5]:
import numpy as np
import pandas as pd

from numpy.random import randn
np.random.seed(101)

In [7]:
#Creating Simple DataFrame
df = pd.DataFrame(randn(5,4))
df

          0         1         2         3
0  1.618982  1.541605 -0.251879 -0.842436
1  0.184519  0.937082  0.731000  1.361556
2 -0.326238  0.055676  0.222400 -1.443217
3 -0.756352  0.816454  0.750445 -0.455947
4  1.189622 -1.690617 -1.356399 -1.232435

In [9]:
#Creating DataFrame With Indexes And Columns
df = pd.DataFrame(randn(5,4), index = ['A','B','C','D','E'], columns = ['W','X','Y','Z'])
df

          W         X         Y         Z
A -0.544439 -0.668172  0.007315 -0.612939
B  1.299748 -1.733096 -0.983310  0.357508
C -1.613579  1.470714 -1.188018 -0.549746
D -0.940046 -0.827932  0.108863  0.507810
E -0.862227  1.249470 -0.079611 -0.889731

In [11]:
#Retrieving Information From DataFrame
df['W']

A   -0.544439
B    1.299748
C   -1.613579
D   -0.940046
E   -0.862227
Name: W, dtype: float64

In [12]:
df['W'].dtype

dtype('float64')

In [13]:
type(df['W'])

pandas.core.series.Series

In [14]:
#Retrieving Multiple Columns From DataFrame
df[['W','Y']]

          W         Y
A -0.544439  0.007315
B  1.299748 -0.983310
C -1.613579 -1.188018
D -0.940046  0.108863
E -0.862227 -0.079611

In [16]:
type(df[['W','Y']])

pandas.core.frame.DataFrame

In [35]:
#Adding New Column To DataFrame
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A -0.544439 -0.668172  0.007315 -0.612939 -0.537125
B  1.299748 -1.733096 -0.983310  0.357508  0.316438
C -1.613579  1.470714 -1.188018 -0.549746 -2.801596
D -0.940046 -0.827932  0.108863  0.507810 -0.831183
E -0.862227  1.249470 -0.079611 -0.889731 -0.941839

In [36]:
#Dropping Rows From DataFrame
df.drop('C')

          W         X         Y         Z       new
A -0.544439 -0.668172  0.007315 -0.612939 -0.537125
B  1.299748 -1.733096 -0.983310  0.357508  0.316438
D -0.940046 -0.827932  0.108863  0.507810 -0.831183
E -0.862227  1.249470 -0.079611 -0.889731 -0.941839

In [37]:
#Dropping Columns From DataFrame
df.drop('new', axis=1)

          W         X         Y         Z
A -0.544439 -0.668172  0.007315 -0.612939
B  1.299748 -1.733096 -0.983310  0.357508
C -1.613579  1.470714 -1.188018 -0.549746
D -0.940046 -0.827932  0.108863  0.507810
E -0.862227  1.249470 -0.079611 -0.889731

In [38]:
df

          W         X         Y         Z       new
A -0.544439 -0.668172  0.007315 -0.612939 -0.537125
B  1.299748 -1.733096 -0.983310  0.357508  0.316438
C -1.613579  1.470714 -1.188018 -0.549746 -2.801596
D -0.940046 -0.827932  0.108863  0.507810 -0.831183
E -0.862227  1.249470 -0.079611 -0.889731 -0.941839

In [40]:
#Dropping Multiple Columns
df.drop(['new','Z'], axis=1)

          W         X         Y
A -0.544439 -0.668172  0.007315
B  1.299748 -1.733096 -0.983310
C -1.613579  1.470714 -1.188018
D -0.940046 -0.827932  0.108863
E -0.862227  1.249470 -0.079611

In [41]:
df.drop('new', axis=1, inplace=True)

In [42]:
df

          W         X         Y         Z
A -0.544439 -0.668172  0.007315 -0.612939
B  1.299748 -1.733096 -0.983310  0.357508
C -1.613579  1.470714 -1.188018 -0.549746
D -0.940046 -0.827932  0.108863  0.507810
E -0.862227  1.249470 -0.079611 -0.889731

In [43]:
#Shape Of The DataFrame
df.shape

(5, 4)

In [47]:
#Retrieving Rows From DataFrame
df.loc['C']

W   -1.613579
X    1.470714
Y   -1.188018
Z   -0.549746
Name: C, dtype: float64

In [46]:
type(df.loc['A'])

pandas.core.series.Series

In [48]:
df.iloc[2]

W   -1.613579
X    1.470714
Y   -1.188018
Z   -0.549746
Name: C, dtype: float64

In [51]:
#Retrieving Subsets Of Information
df.loc['B','Y']

-0.98331009912962997

In [52]:
df.loc[['A','C'],['W','Z']]

          W         Z
A -0.544439 -0.612939
C -1.613579 -0.549746