## Pandas DataFrame # 3

In [5]:
#Required Imports
import pandas as pd
import numpy as np
from numpy.random import rand

In [4]:
#Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
df = pd.DataFrame(rand(6,2), index=hier_index)
df

             0         1
G1 1  0.658193  0.766520
   2  0.196557  0.019145
   3  0.142985  0.853126
G2 1  0.197045  0.933812
   2  0.686774  0.817468
   3  0.759533  0.208762

In [7]:
df = pd.DataFrame(rand(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  0.611022  0.020049
   2  0.704839  0.519240
   3  0.205883  0.118927
G2 1  0.864284  0.174565
   2  0.849161  0.162864
   3  0.319748  0.684712

In [9]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1    0.611022  0.020049
       2    0.704839  0.519240
       3    0.205883  0.118927
G2     1    0.864284  0.174565
       2    0.849161  0.162864
       3    0.319748  0.684712

In [12]:
df.loc['G2'].iloc[1]['B']

0.16286400887486263

In [ ]:
df.xs(key = 'G1')