## Pandas DataFrame - 2

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  1.693723 -1.706086 -1.159119 -0.134841
B  0.390528  0.166905  0.184502  0.807706
C  0.072960  0.638787  0.329646 -0.497104
D -0.754070 -0.943406  0.484752 -0.116773
E  1.901755  0.238127  1.996652 -0.993263

In [6]:
#Conditional Selection
df > 0

       W      X      Y      Z
A   True  False  False  False
B   True   True   True   True
C   True   True   True  False
D  False  False   True  False
E   True   True   True  False

In [7]:
df[df>0]

          W         X         Y         Z
A  1.693723       NaN       NaN       NaN
B  0.390528  0.166905  0.184502  0.807706
C  0.072960  0.638787  0.329646       NaN
D       NaN       NaN  0.484752       NaN
E  1.901755  0.238127  1.996652       NaN

In [8]:
df['W'] > 0

A     True
B     True
C     True
D    False
E     True
Name: W, dtype: bool

In [9]:
df[df['W'] > 0]

          W         X         Y         Z
A  1.693723 -1.706086 -1.159119 -0.134841
B  0.390528  0.166905  0.184502  0.807706
C  0.072960  0.638787  0.329646 -0.497104
E  1.901755  0.238127  1.996652 -0.993263

In [10]:
df[df['Z'] < 0]

          W         X         Y         Z
A  1.693723 -1.706086 -1.159119 -0.134841
C  0.072960  0.638787  0.329646 -0.497104
D -0.754070 -0.943406  0.484752 -0.116773
E  1.901755  0.238127  1.996652 -0.993263

In [11]:
result = df[df['W'] > 0]
result['X']

A   -1.706086
B    0.166905
C    0.638787
E    0.238127
Name: X, dtype: float64

In [12]:
df[df['W'] > 0]['X']

A   -1.706086
B    0.166905
C    0.638787
E    0.238127
Name: X, dtype: float64

In [13]:
df[df['W'] > 0][['X','Z']]

          X         Z
A -1.706086 -0.134841
B  0.166905  0.807706
C  0.638787 -0.497104
E  0.238127 -0.993263

In [15]:
#Multiple Conditons
df[(df['W'] > 0) & (df['Y'] > 1)]

          W         X         Y         Z
E  1.901755  0.238127  1.996652 -0.993263

In [17]:
#Resetting Index
df.reset_index()

  index         W         X         Y         Z
0     A  1.693723 -1.706086 -1.159119 -0.134841
1     B  0.390528  0.166905  0.184502  0.807706
2     C  0.072960  0.638787  0.329646 -0.497104
3     D -0.754070 -0.943406  0.484752 -0.116773
4     E  1.901755  0.238127  1.996652 -0.993263

In [18]:
# Setting A Column As Index
df['States'] = 'CA NY WY OR CO'.split()
df

          W         X         Y         Z States
A  1.693723 -1.706086 -1.159119 -0.134841     CA
B  0.390528  0.166905  0.184502  0.807706     NY
C  0.072960  0.638787  0.329646 -0.497104     WY
D -0.754070 -0.943406  0.484752 -0.116773     OR
E  1.901755  0.238127  1.996652 -0.993263     CO

In [19]:
df.set_index('States')

               W         X         Y         Z
States
CA      1.693723 -1.706086 -1.159119 -0.134841
NY      0.390528  0.166905  0.184502  0.807706
WY      0.072960  0.638787  0.329646 -0.497104
OR     -0.754070 -0.943406  0.484752 -0.116773
CO      1.901755  0.238127  1.996652 -0.993263

In [20]:
df

          W         X         Y         Z States
A  1.693723 -1.706086 -1.159119 -0.134841     CA
B  0.390528  0.166905  0.184502  0.807706     NY
C  0.072960  0.638787  0.329646 -0.497104     WY
D -0.754070 -0.943406  0.484752 -0.116773     OR
E  1.901755  0.238127  1.996652 -0.993263     CO