## Pandas DataFrame - 3

In [10]:
#Required Imports
from numpy.random import rand
import numpy as np
import pandas as pd

#Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
#Creating Multilevel Index Dataframe
df = pd.DataFrame(rand(6,2), index=hier_index)
df

             0         1
G1 1  0.180855  0.132950
   2  0.825379  0.121888
   3  0.760064  0.157531
G2 1  0.623252  0.199608
   2  0.657227  0.496506
   3  0.382628  0.169172

In [14]:
df = pd.DataFrame(rand(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  0.654946  0.435626
   2  0.278706  0.813612
   3  0.365587  0.099085
G2 1  0.862299  0.961213
   2  0.937719  0.639670
   3  0.280247  0.016089

In [19]:
#Retrieving Data From Multilevel Index DataFrame 
df.loc['G1']

          A         B
1  0.654946  0.435626
2  0.278706  0.813612
3  0.365587  0.099085

In [21]:
df.loc['G2'].loc[2]['B']

0.63967043093576581

In [23]:
#Renaming The Indices
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1    0.654946  0.435626
       2    0.278706  0.813612
       3    0.365587  0.099085
G2     1    0.862299  0.961213
       2    0.937719  0.639670
       3    0.280247  0.016089

In [24]:
#Retrieving Data From Both The Groups At The Same Time
df.xs('G1')

            A         B
Num
1    0.654946  0.435626
2    0.278706  0.813612
3    0.365587  0.099085

In [31]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.654946  0.435626
G2      0.862299  0.961213